<!DOCTYPE html>
<html >

<head>
  <meta charset="UTF-8">
  <title>CO₂ Emission Predictor</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>

  <section class="head" id="content">
    <img src="{{ url_for('static', filename='images/carCO2.png') }}" class="background" alt="img" />
    <h2>Want to have some control over CO₂ emission of your vehicle?</h2>
    <div class="buttons">
      <div class="button" onclick="location.href='#prediction'">
        <a href="#prediction">Predict Your Vehicle's <br/> CO₂ Emission</a>
        <span></span>
      </div>
      <div class="button" onclick="location.href='#'">
        <a href="#">Get Some Suggestions for new vehicle</a>
        <span></span>
      </div>
    </div>
  </section>
  

  <section id="prediction" >
    <h1>Predict CO₂ Emission of Vehicles</h1>
    <p>It really is surprising how much CO2 emissions we produce in everyday life. For instance, CO2 and other emissions are caused 
      when driving a car, heating a house, cooking, working, celebrating or flying. These CO2 emissions can easily be calculated with 
      our co2 emitter calculator.Calculate the number of tons your car emits into the atmosphere</p>
      
      <div class="mid">
      <div class="form">
        <h4> Enter the following values to predict the CO₂ emission from the vehicle</h4>
        
        <form action="{{ url_for('predict')}}"method="post">
          <input type="text" name="enginesize" placeholder="Engine Size" required="required" />
          <input type="text" name="cylinders" placeholder="Cylinders" required="required" />
          <input type="text" name="fuel" placeholder="Fuel" required="required" />

          <button type="submit" class="btn">Predict</button>
        </form>

      </div>
      {% if emission %}
      <div class="response-div">
        <div class="response">
          <p>Engine Size = {{eng_size}}</p>
          <p>Cylinders = {{cylinders}}</p>
          <p>Fuel = {{fuel}}</p>
          <h5>CO₂ Emission </h5>
          <h2>{{emission}}</h2>
        </div>
      </div>
      {% endif %}
    </div>
    
  </section>

</body>

  {% if scroll %}
  <script>
      document.getElementById('{{ scroll }}').scrollIntoView();
      // or
      document.location.hash = '#' + '{{ scroll }}';
  </script>
  {% endif %}

</html>