<!DOCTYPE html>
<html >

<head>
  <meta charset="UTF-8">
  <title>CO₂ Emission Predictor</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>

  <section class="head" id="content">
    <img src="{{ url_for('static', filename='images/carCO2.png') }}" class="background" alt="img" />
    <h2>Want to have some control over CO₂ emission of your vehicle?</h2>
    <div class="buttons">
      <div class="button" onclick="location.href='#prediction'">
        <a href="#prediction">Predict Your Vehicle's <br/> CO₂ Emission</a>
        <span></span>
      </div>
      <div class="button" onclick="location.href='#suggestion'">
        <a href="#suggestion">Get Some Suggestions for new vehicle</a>
        <span></span>
      </div>
    </div>
  </section>
  

  <section id="prediction" >
    <h1>Predict CO₂ Emission of Vehicles</h1>
    <p>It really is surprising how much CO2 emissions we produce in everyday life. For instance, CO2 and other emissions are caused 
      when driving a car, heating a house, cooking, working, celebrating or flying. These CO2 emissions can easily be calculated with 
      our co2 emitter calculator.Calculate the number of tons your car emits into the atmosphere</p>
      
      <div class="mid">
      <div class="form">
        <h4> Enter the following values to predict the CO₂ emission from the vehicle</h4>
        
        <form action="{{ url_for('predict')}}"method="post">
          <input type="number" step="0.1" name="enginesize" min="1" max="8" placeholder="Engine Size" required="required" />
          <input type="number" step="0.1" name="cylinders" min="3" max="12" placeholder="Cylinders" required="required" />
          <input type="number" step="0.1" name="fuel" min="4" max="21" placeholder="Fuel Consumption" required="required" />

          <button type="submit" class="btn">Predict</button>
        </form>

      </div>
      
      {% if emission %}
      <div class="response-div">
        <div class="response">
          <p>Engine Size = {{eng_size}}</p>
          <p>Cylinders = {{cylinders}}</p>
          <p>Fuel = {{fuel}}</p>
          <h5>CO₂ Emission </h5>
          <h2>{{emission}}</h2>
        </div>
      </div>
      {% endif %}
      
    </div>
    
  </section>



  <section id="suggestion">
    <h2>Don't know which one to choose...?</h2>
    <h2>Get Some Suggestions for your new vehicle based upon your choices</h2>

    <div class="filters">

      <form action="{{ url_for('suggest')}}" method="post">

        <input list="fuelType" name="fuel_type" value="{{fuel_type}}" type="text" placeholder="Fuel Type" />
        <datalist id="fuelType">
          <option value="PETROL">
          <option value="DIESEL">
          <option value="CNG">
        </datalist>

        <input list="vehicleClass" name="vehicle_class" value="{{vehicle_class}}" type="text" placeholder="Vehicle Class" />
        <datalist id="vehicleClass">
          <option value="COMPACT">
          <option value="MID-SIZE">
          <option value="FULL-SIZE">
          <option value="SUBCOMPACT">
          <option value="MINICOMPACT">
          <option value="MINIVAN">
          <option value="PICKUP TRUCK - SMALL">
          <option value="PICKUP TRUCK - STANDARD">
          <option value="STATION WAGON - MID-SIZE">
          <option value="STATION WAGON - SMALL">
          <option value="SUV">
          <option value="TWO-SEATER">
          <option value="VAN - CARGO">
          <option value="VAN - PASSENGER">
        </datalist>

        <input list="manufacturer" name="make" value="{{make}}" type="text" placeholder="Manufacturer" />
        <datalist id="manufacturer">
          <option value="ACURA">
          <option value="AUDI">
          <option value="BMW">
          <option value="BUICK">
          <option value="CADILLAC">
          <option value="CHEVROLET">
          <option value="CHRYSLER">
          <option value="DAEWOO">
          <option value="DODGE">
          <option value="FORD">
          <option value="GMC">
          <option value="HONDA">
          <option value="HYUNDAI">
          <option value="INFINITI">
          <option value="ISUZU">
          <option value="JAGUAR">
          <option value="JEEP">
          <option value="KIA">
          <option value="LEXUS">
          <option value="LINCOLN">
          <option value="MAZDA">
          <option value="MERCEDES-BENZ">
          <option value="NISSAN">
          <option value="OLDSMOBILE">
          <option value="PLYMOUTH">
          <option value="PONTIAC">
          <option value="PORSCHE">
          <option value="SAAB">
          <option value="SATURN">
          <option value="SUBARU">
          <option value="SUZUKI">
          <option value="TOYOTA">
          <option value="VOLKSWAGEN">
          <option value="VOLVO">
        </datalist>

        <button type="submit" class="btn">Suggest</button>
      </form>

    </div>

    <div class="results">
      {% if results %}
      
      {{ data | safe }}
           
      {% else %}
        
        <p>Choose some filters and hit suggest to see suggestions of vehicles with less CO₂ emissions</p>

      {% endif %}

      
     
      
    </div>

  </section>

</body>

  {% if scroll %}
  <script>
      document.getElementById('{{ scroll }}').scrollIntoView();
      // or
      document.location.hash = '#' + '{{ scroll }}';
  </script>
  {% endif %}

  

</html>